$font-stack: Helvetica, sans-serif;
$primary-color: rgb(221, 197, 90);

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("ttf"); // adapter l'url en fonction du nom de votre fichier
}
body {
  font: 100% $font-stack;
  color: $primary-color;
  &:fullscreen {
	background-color: rgb(50, 175, 92); // propriété CSS peu supportée par les navigateurs qui devrait être auto-préfixée en mode production
  }
  h1 {
    font-size: 2rem;
    background: url('../images/sim.jpg');
    padding: 50px;
  }
}